{% extends "base_organisator.html" %}
{% block content %}

<div class="container">

  <br><br>

  {{ error_message }}

  <form action="/addorganisator2" method="POST">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Angestelltennummer des neuen Organisator" name="org">
    </div><br>
    <button type="submit" class="btn btn-primary">Hinzufügen</button>
  </form>

  {{ success_message }}


</div>

{% endblock %}