{% extends "base.html" %}
{% block content %}

<div class="container">

  <br><br>
  <div class="alert alert-danger" role="alert">{{ error_message }}</div>
  <br><br>


  <form action="/angemeldet" method="POST">
    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Sozialversicherungsnummer (12-stellig)" name="svn" value="{{svn}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Vorname" name="first_name" value="{{first_name}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Nachname" name="last_name" value="{{last_name}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="PLZ" name="plz" value="{{plz}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Wohnort" name="ort" value="{{ort}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Straße" name="straße" value="{{straße}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Hausnummer" name="hnr" value="{{hnr}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Telefonnummer (nicht für die Registrierung erforderlich)" name="telnr" value="{{telnr}}">
    </div><br>

    <button type="submit" class="btn btn-primary">Registrieren</button>
  </form>

  <br><br>


  <form action="/datenaenderung" method="POST">
    <button type="submit" class="btn btn-primary">Kontodaten ändern</button>
  </form>


</div>

{% endblock %}