{% extends "base.html" %}
{% block content %}

<div class="container">
    <br>
    <h1>Registrierung</h1>
    <br><br>
    Für Ihre Registrierung benötigen wir folgende Angeben:
    <br>
    <br>

    <form action="/angemeldet" method="POST">
        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Sozialversicherungsnummer (12-stellig)" name="svn">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Vorname" name="first_name">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Nachname" name="last_name">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="PLZ" name="plz">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Wohnort" name="ort">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Straße" name="straße">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Hausnummer" name="hnr">
        </div><br>

        <div class="form-group">
            <input type="text" class="form-control"
                   placeholder="Telefonnummer (nicht für die Registrierung erforderlich)" name="telnr">
        </div><br>

        <button type="submit" class="btn btn-primary">Registrieren</button>
    </form>

    <br><br>


    <form action="/datenaenderung" method="POST">
        <button type="submit" class="btn btn-primary">Kontodaten ändern</button>
    </form>




</div>

{% endblock %}