{% extends "base.html" %}
{% block content %}

<div class="container">
  <br>
  <h2>Datenänderung</h2>
  <br>
  Um Ihre persönlichen Daten zu ändern, wird Ihre Sozialversicherungsnummer benötigt.<br>
  Diese ist somit zwingend erforderlich
  <br>
  <h1>{{ error_message }}</h1>
  <br>
  <form action="/geaendert" method="POST">
    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Sozailversicherungsnummer (12-stellig)" name="svn" value="{{svn}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Vorname" name="first_name" value="{{first_name}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Nachname" name="last_name" value="{{last_name}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="PLZ" name="plz" value="{{plz}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Wohnort" name="ort" value="{{ort}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Straße" name="straße" value="{{straße}}">
    </div><br>

    <div class="form-group">
      <input type="text" class="form-control"
             placeholder="Hausnummer" name="hnr" value="{{hnr}}">
    </div><br>


    <button type="submit" class="btn btn-primary">Ändern</button>
  </form>

  <br><br>



</div>

{% endblock %}