

{% extends "base.html" %}
{% block content %}

<div class="container">
  <h1>Derzeitige Kursveranstaltungsorte</h1>


  <tr>
    <td></td>
  </tr>



  <table class="table">
    <thead>
    <tr>
      <th scope="col">{{header_seminar[0]}}</th>
      <th scope="col">{{header_seminar[1]}}</th>
      <th scope="col">{{header_seminar[2]}}</th>
      <th scope="col">{{header_seminar[3]}}</th>
      <th scope="col">{{header_seminar[4]}}</th>
      <th scope="col">Buchung</th>
    </tr>
    </thead>
    <tbody>
    {% for eintrag in data %}
    <tr>
      {% for item in eintrag %}
      <td scope="row">{{item}}</td>
      {% endfor %}
      <td scope="row">
        <button type="button" class="btn btn-outline-primary">Buchen</button>
      </td>
    </tr>

    {% endfor %}
    </tbody>
  </table>

</div>

{% endblock %}
