{% extends "base.html" %}
{% block content %}

<div class="container">

  {{error_message}}
  <br><br>
  <h3>Dieser Bereich ist Organisatoren vorbehalten</h3>
  <br><br>
  Anmeldung als Organisator:
  <br>
  <form action="/organisator_angemeldet" method="POST">
  <div class="form-group">
    <input type="text" class="form-control"
           placeholder="Nachname" name="last_name">
  </div><br>

  <div class="form-group">
    <input type="password" class="form-control"
           placeholder="Sozialversicherungsnummer" name="svn">
  </div><br>
  <button type="submit" class="btn btn-primary">Einloggen</button>
  </form>

</div>

{% endblock %}