{% extends "base_organisator.html" %}
{% block content %}

<div class="container">

  <br><br>

  <form action="/addorganisator" method="POST">
    <button type="submit" class="btn btn-primary">Neuen Organisator hinzufügen</button>
  </form>


</div>

{% endblock %}